<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<div id="homecover">
	<h1 id="motto">Professional. Punctual. Flexible.</h1>
	<h1 id="book"><%= link_to "Book Online Now!", action:"index", controller:"booking" %></h1>
</div>
</body>
</html>