/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#info {
	display: inline-block;
}

#title {
	text-align: center;
	display: inline-block;
	margin-left: 27%;
}

#navbar1 {
	text-align: center;
	list-style-type: none;
	padding-left: 100px;
}

#navbar1 li {
	display: inline-block;
	padding-right: 100px;
}

#navbar2 {
	text-align: center;
	list-style-type: none;
	padding-left: 200px;
	border-top: solid;
	border-bottom: solid;
}

#navbar2 li {
	display: inline-block;
	padding-right:200px;
}

#login_title {
	text-align: right;
}

#create_account_title {
	text-align: right;
}

#login_create_sidebar {
	position: absolute;
	display: inline-block;
	width: 200px;
	vertical-align: top;
	right:25px;
}

#login_email {
	text-align: right;
}

#login_password {
	text-align: right;
}

#login_submit {
	text-align: right;
}