// Place all the styles related to the Booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
	display: inline-block;
	vertical-align: top;
}

#login {
	display: inline-block;
	vertical-align: top;
}

#reserve {
	display: inline-block;
	width: auto;
	margin-left: 160px;
	vertical-align: top;
}

#make {
	text-align: center;
	vertical-align: top;

}

#form_info {
	display: inline-block;
	float: right;
}

#first {
	display: inline-block;
	vertical-align: top;
}

#second {
	display: inline-block;
}