// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create_account {
	text-align: center;
	width: 300px;
	margin-left: 36.5%;
}

#create_account h1 {
	text-align: right;
}

#create_account p {
	text-align: right;
}

#submit {
	justify-content: center;
}